#red{
    color: red;
}

#blue{
color: blue;
}

#orange{
color: orange;
}

#green {
color: green;
}

#yellow{
color: yellow;
}

#red, #blue, #green, #yellow, #orange{
    font-weight: normal;
}
img{
    height: 200px;
    width: 200px;
}